<div class="login" *ngIf="idValid === false">
  <div class="large-text">Please Enter Your Identification Code</div>

  <div class="input-grid">
    <div class="input-container">
      <input class="idCodeInput" type="text" maxlength="10" #idCodeInput>
      <button class="idCheck" (click)="checkId(idCodeInput.value)" type="submit">Enter</button>
    </div>
  </div>

</div>

<div *ngIf="idValid === true">

  <div class="large-text heading">
    Welcome {{userName}}!
  </div>

  <div class="main" *ngIf="route === 'envelope'">
    <app-envelope></app-envelope>
  </div>

  <div class="main" *ngIf="route === 'questions'">

    <app-question *ngFor="let question of questions;" [clue]="question.clue" [number]="question.number"
      [answer]="question.answer">
    </app-question>

    <div class="medium-text passcode-generator">
      <button (click)="getPasscode()">
        Generate Passcode
      </button>
    </div>

    <div class="medium-text passcode-generator">
      <button class="red" (click)="clearAnswers()">
        Clear Answers
      </button>
    </div>

    <div class="envelopeLink medium-text">
      <span class="underline" (click)="openEnvelope()">
        Back to Envelope
      </span>
    </div>

  </div>


  <div class="main" *ngIf="route === 'passcode'">

    <app-pass-code [username]="userName" [passcode]="passcode"></app-pass-code>

    <div class="envelopeLink medium-text">
      <span class="underline" (click)="openEnvelope()">
        Back to Envelope
      </span>
    </div>

  </div>

  
</div>