<div class="login" *ngIf="idValid === false">
  <div class="large-text">Please Enter Your Identification Code</div>

  <div class="input-grid">
    <div class="input-container">
      <input class="idCodeInput" type="text" maxlength="10" #idCodeInput>
      <button class="idCheck" (click)="checkId(idCodeInput.value)" type="submit">Enter</button>
    </div>
  </div>

</div>

<div *ngIf="idValid === true">

  <div class="large-text heading">
    Welcome {{userName}}!
  </div>

  <div class="main" *ngIf="route === 'envelope'">
    <app-envelope></app-envelope>
  </div>

  <div class="main" *ngIf="route === 'questions'">

    <app-question *ngFor="let question of questions;" [clue]="question.clue" [number]="question.number" [answer]="question.answer">
    </app-question>

    <div class="envelopeLink medium-text" (click)="openEnvelope()">
      Back to Envelope
    </div>

  </div>

  <div class="main" *ngIf="route === 'passcode'">
    <app-pass-code [username]="userName" [passcode]="passcode"></app-pass-code>
  </div>

</div>