.passcode-container {
    width: calc(var(--question-container-width));
    font-size: 20px;
    font-family: var(--font-family);
    margin-top: 10px;
}

.sub-heading {
    font-size: 20px;
    font-family: var(--font-family);
    margin-top: 10px;
    margin-bottom: 10px;
}

.answerInput {
    width: 200px;
    font-family: var(--font-family);
    font-size: 20px;
    margin-top: 10px;
}

.answerCheck {
    margin-left: 10px;
}

.answerResult {
    display: inline;
    margin-left: 10px;
}

button {
    color: white;
    padding: 2px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: var(--font-family);
    font-size: 20px;
    cursor: pointer;
    background-color: #1fb123;
    border: 1px solid darkgreen;
}

button:hover {
    background-color: darkgreen;
    border: 1px solid #1fb123;
}

button:focus {
    outline: none;
}

.message{
    font-family: var(--font-family);
    font-size: 20px;
    width: 100%;
    text-align: center;
}

img{
    margin-top: 20px;
    margin-bottom: 20px;
    width: calc(var(--question-container-width));
}

.margin{
    margin-top: 30px;
}